.button {
  color: black;
  width: auto;
  height: 50px;
  border: 2px solid black;
  background: #ffffff;
  transition: all 200ms linear;
  letter-spacing: 3px;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Copperplate";
  display: inline-block;
  line-height: 1;
  border-style: solid;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  cursor: pointer;
}
